
<header class="bg-color flex justify-between px-6 py-6 mb-2 sm:mb-10">
  {# {% if page.url == "/" %} #}
  {# <h1 class=" text-white font-medium text-2xl">AI Character</h1> #}
  {# {% else %} #}
  <h1 class="text-white font-medium text-xl sm:text-2xl no-underline my-auto"><a href="/" >TraitAI</a></h1>
  {# {% endif %} #}
  <nav class="">
    {%
      set linkList = [
        { "url": "/about" , "text": "About"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>



