---
title: Define the audience
layout: default
---


<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mx-auto"> 

  <div class="mx-4 sm:mx-16 px-8 text-left sm:my-4">
      <h1 class="text-xl sm:text-4xl font-extrabold leading-relaxed my-2">Define your audience </h1>
      <p class="text-base sm:text-md"> The first step in this journey is to consider who are the people interacting with the personal AI. Think about their goals, their struggles, and what main characteristics define this group of people. </p>
  </div>

  <div class="mx-4 sm:mx-16 my-4 sm:my-16 px-4">
    <form class="">
      <textarea id="audience" name="audience" class="bg-glass h-80 px-8 py-8 w-full text-sm sm:text-md rounded-md text-white font-opensans font-light italic resize-none" placeholder="What experiences are they using your service for? &#10;What are people's purposes when interacting? &#10;Where are they from? What is their background?"></textarea>
      <button class="border-white border-4 font-raleway uppercase	text-white font-extrabold rounded-lg justify-end float-right py-1 sm:py-4 px-4 sm:px-8 my-8 sm:my-12 text-md sm:text-2xl" type="submit">Continue</button>
    </form>
  </div>

</div>

{# <div class="my-32">
  <button class="border-white border-4 font-raleway uppercase	text-white font-extrabold py-4 px-8 rounded-lg my-4 align-right flex text-md">
    <a href="/voice">Next page</a>
  </button>
</div> #}


<script>
function handleSubmit(event) {

    event.preventDefault();
    console.log("oie");

    var audienceValue = document.getElementById("audience").value;

    console.log(audienceValue);

    sessionStorage.setItem('audience', audienceValue);
    console.log(sessionStorage);

    window.location.href="/goals";

  }

  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);




</script>