---
title: AI Character
layout: default
---

<div class="mx-auto w-2/3 text-center">
<h1 class="text-3xl leading-relaxed my-2">Always be thinking.</h1>
<h2 class="font-raleway text-xl my-2">The character decision making tool for creators.</h2>

<button class="button-pinkred hover:bg-pink-300 text-white font-bold py-2 px-4 rounded mx-auto my-8 justify-center align-middle flex">
  <a href="/start">Start</a>
</button>
</div>

