---
title: AI Character
layout: default
---

<div class="mx-auto w-2/3 text-center">
<h1 class="text-3xl leading-relaxed my-2"> Design your AI personality </h1>
<h2 class="text-xl my-2">The decision-making tool encourages designers to reflect on the impacts AI-powered personal assistants personalities can have on an experience.
</h2>

<p class="my-2">Reflect on the different compositions that form your assistant personality in the three different stages. This journey will help you design the system that will guide the next steps of your AI development.
</p>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto my-8 justify-center align-middle flex">
  <a href="/start">Start</a>
</button>
</div>

