---
title: AI Character
layout: default
---


<div class="grid grid-cols-3 gap-4">
  <div class="col-start-2 col-span-2 mx-auto w-2/3 text-left my-16">
    <h1 class="text-5xl leading-relaxed my-2">Always be thinking</h1>
    <h2 class="text-3xl my-2">The character decision making tool for creators</h2>
    <button class="border-white border-4 font-raleway uppercase	text-white font-extrabold py-4 px-8 rounded-lg my-12 align-left flex text-2xl">
      <a href="/audience">Start</a>
    </button>
  </div>
</div>

