---
title: Human or Robot?
layout: default
---
<div class="grid grid-cols-6 gap-2 justify-center items-center "> 

  <div class="">
  <a href="/step2-theanatomy">
  <img src="/images/button-back.svg" class="w-1/4 float-left mx-8"></img></a>
  </div>

  <div class="col-start-6">
  <img src="/images/blob-small-2.png" class="w-1/3 float-right mx-8"></img>
  </div>

</div>

<div class="mx-auto text-center">
  <h1 class="text-xl sm:text-2xl font-extrabold leading-relaxed my-2">Decide its nature</h1>
  <h2 class="text-md sm:text-lg font-normal font-opensans">Bringing transparency to the interactions</h2>
</div>


<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mx-auto"> 

  <div class="mx-4 sm:mx-16 px-8 text-left my-4 sm:my-16">
    <p class="text-base sm:text-md"> Giving human formats and manners to a conversational agent can lead to ethical issues, as people tend to associate moral activities, which an AI doesn't have. Consider how transparency can help your relationship with the audience, and reflect whether or not it is indispensable to anthropomorphize your product.
<br><br>
Regardless of how humanistic or robotic it ends up being, don't forget to make explicit to the customer that they are interacting with artificial intelligence.</p>
  </div>

  <div class="sm:mx-16 my-4 sm:my-16 px-4 mx-auto">
    <p class="font-bold mb-8 text-center" > Human or Robot?<br>Click to decide</p>
    <img src="/images/human.png" class="w-3/5 mx-auto"  id="humanrobot" onclick="changeImage()"></img>
    <form>
    <button class="border-white bg-white font-raleway uppercase text-pb font-extrabold py-1 sm:py-2 px-2 sm:px-3 rounded-lg my-8 sm:my-12 text-md sm:text-xl	float-right" type="submit">Next</button></form>
  </div>

</div>


<script>

var index = 0;

function changeImage(){
   if (index==0) 
    {
        document.getElementById("humanrobot").src = "/images/robot.png";
        index++;
        console.log("robot");
        sessionStorage.setItem('humanScale', 'robot');
    }
    else 
    {

        document.getElementById("humanrobot").src = "/images/human.png";
        index=0;
        console.log("human");
        sessionStorage.setItem('humanScale', 'human');
    }
}

function handleSubmit(event) {

    event.preventDefault();

    window.location.href="/appearances";

  }

  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);




</script>