---
title: Human or Robot?
layout: default
---


<div class="grid grid-cols-2 gap-2 mx-auto"> 

  <div class="mx-16 px-8 text-left my-4">
      <h1 class="text-4xl font-extrabold leading-relaxed my-2">Social?</h1>
      <p class="text-md"> TEXT TO COME?</p>
  </div>

  <div class="mx-16 my-16">

  </div>

</div>

<div class="my-32">
  <button class="border-white border-4 font-raleway uppercase	text-white font-extrabold py-4 px-8 rounded-lg my-4 align-right flex text-md">
    <a href="/">Finish</a>
  </button>
</div>


<script>
function handleSubmit(event) {

    event.preventDefault();
    console.log("oie");

    var humanrobotValue = document.getElementById("humanrobot").value;

    console.log(humanrobotValue);

    sessionStorage.setItem('humanrobot', humanrobotValue);
    console.log(sessionStorage);

    window.location.href="/voice";

  }

  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);




</script>