---
title: AI Character
layout: default
---

<div class="mx-auto px-8 text-left"> 
<h1 class="text-xl"> Setting up the stage </h1>
<h2 class="text-lg"> The first step of the exercise is to think about the work you are doing</h2>
<p class="text-md"> Writing down the definitions you decided with your team will be an aid to think about it all</p>
</div>

<form>
   <label for="name">Name</label>
   <input type="text" name="name" id="names" />
<br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
<br>
    <button type="submit">Submit</button>
  </form>

<div class="relative h-32 w-32">
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded absolute bottom-0 right-0 h-16 w-32">
  <a href="/voice">Next page</a>
</button>

</div>

<script>



function handleSubmit(event) {

    event.preventDefault();
    console.log("oie");

    var nameValue = document.getElementById("names").value;
    var emailValue = document.getElementById("email").value;

    console.log(nameValue);
    console.log(emailValue);

    sessionStorage.setItem('name', nameValue);
    sessionStorage.setItem('email', emailValue);
    console.log(sessionStorage);

  }

  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);




</script>