---
title: Personality traits
layout: default
---


<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mx-auto"> 

  <div class="mx-4 sm:mx-16 px-8 text-left sm:my-4">
      <h1 class="text-xl sm:text-4xl font-extrabold leading-relaxed my-2">Personality</h1>
      <p class="text-base sm:text-md"> Personality traits can help define how the AI will behave throughout the conversation. Psychology dictates that there are 5 major factors that can characterize human behaviour. How would this be represented in the virtual world?</p>
  </div>

  <div class="mx-4 sm:mx-16 my-4 sm:my-16 px-4">

  </div>

</div>

<div class="my-32">
  <button class="border-white border-4 font-raleway uppercase	text-white font-extrabold py-4 px-8 rounded-lg my-4 align-right flex text-md">
    <a href="/voice">Next page</a>
  </button>
</div>


<script>
function handleSubmit(event) {

    event.preventDefault();
    console.log("oie");

    var humanrobotValue = document.getElementById("humanrobot").value;

    console.log(humanrobotValue);

    sessionStorage.setItem('humanrobot', humanrobotValue);
    console.log(sessionStorage);

    window.location.href="/voice";

  }

  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);




</script>