---
title: Voice
layout: default
---
<div>
<p>Result</p>
<p id="goal"></p>
<p id="audience"></p>
</div>

<script>
var goal = sessionStorage.getItem('goal')
var audience = sessionStorage.getItem('audience');

console.log(goal);
console.log(audience);

document.getElementById("goal").innerHTML = goal;
document.getElementById("audience").innerHTML = audience;
</script>