---
title: Voice
layout: default
---
<div>
<p>Result</p>
<p id="result"></p>
</div>

<script>
var goals = sessionStorage.getItem('name')
var audience = sessionStorage.getItem('email');

console.log(goals);
console.log(audience);

document.getElementById("result").innerHTML = goals;
</script>